// Global styles
body {
  background: #61b390;
  text-align: center;
  font-family: "Syne Mono";
}

.world-clock__container {
  text-align: center;
  border-radius: 20px;
  max-width: 60%;
  margin: 60px auto;
  background: #d8f5d4;
  color: rgb(97, 179, 144);
  border: 2px solid;
  box-shadow: 0px 7px 29px 0px rgb(1, 53, 44);

  h1.world-clock__title {
    color: rgb(16, 95, 82);
  }

  h2.world-clock__instruction {
    color: rgb(97, 179, 144);
  }

  select.world-clock__select {
    display: block;
    margin: 0 auto;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    width: 80%;
    border: 2px solid #2d8c7c;
    color: #2d8c7c;
    border-radius: 15px;
  }

  .world-clock__cities {
    .world-clock__city {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      border-bottom: 2px dashed rgba(97, 179, 144, 0.6);

      &:last-child {
        border: none;
      }

      .world-clock__city__info {
        h2.world-clock__city__name {
          color: rgb(33, 121, 107);
          margin: 0 0 0 10px;
        }

        .world-clock__city__date {
          opacity: 0.7;
          font-weight: bold;
          margin: 10px;
        }
      }

      .world-clock__city__time {
        font-size: 36px;
        font-weight: bold;
        margin: 10px;

        small {
          font-size: 20px;
          line-height: 35px;
        }
      }
    }
  }
}

#timezone {
  background-color: #d8f5d4;
}

#Reset {
  display: none;
}

.blink {
  animation: blink 1s linear 5;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

button {
  border-radius: 15px;
  border: 1px solid #2d8c7c;
  color: #2d8c7c;
  margin: 1rem auto;
  background: #d8f5d4;
  padding: 10px;
}

footer {
  font-size: 24px;
  color: rgba(1, 53, 44, 0.8);
}

// Media queries
@media (max-width: 320px) {
  .world-clock__city__time {
    font-size: 20px;
  }
  select.world-clock__select {
    padding: 10px;
    font-size: 12px;
  }
}
@media (min-width:321px) and  (max-width: 375px) {
  .world-clock__city__time {
    font-size: 22px;
  }
  select.world-clock__select {
    padding: 12px;
    font-size: 14px;
  }
}
@media (min-width:376px) and (max-width: 425px) {
  .world-clock__container {
    max-width: 95%;
  }
  .world-clock__city__time {
    font-size: 24px;
  }
  select.world-clock__select {
    width: 100%;
    font-size: 16px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .world-clock__container {
    max-width: 90%;
  }
  .world-clock__city__time {
    font-size: 28px;
  }
  select.world-clock__select {
    width: 90%;
    font-size: 18px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .world-clock__container {
    max-width: 80%;
  }
  .world-clock__city__time {
    font-size: 32px;
  }
}